/* ==========================================================================
    Utilities
    - common classes - various element shares some features. They can be abstracted into one place. DRY technique.
    - context classes - sometimes you want them on element, sometimes not. You can decide just by adding/removing class.
    - usually one rule per class
    - E.g. margin on a button or a text
    - have prefix pr-u-
   ========================================================================== */

.screen-reader-text {
	//from https://make.wordpress.org/accessibility/2015/02/09/hiding-text-for-screen-readers-with-wordpress-core/
	clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.u-pkn-layout-wrapper {
    &--dark {
        background-color: $black;
        color: $white;
    }
}

.u-flex-video {
    @include flex-video();
}