.detail-nav {
	@include grid-column-row(); //TODO doesn't use flex

	&:after {
		display: none;
	}

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	font-size: rem-calc(11);
	margin-bottom: $common-spacing;

	&__menu {
		@include reset-list();
	}
}