.header {
	background-color: $white;

	&__inner {
		// @include grid-column-row();
		@include flex-grid-row();
		@include flex-grid-column();
		
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
	}
}