.home-slider {
	@include flex-grid-column(12);
	
	&__item {
		margin-right: $common-spacing;
	}

	&__href {
		display: block;
		&:hover {
			box-shadow: $item-box-shadow;
		}
	}

	&__img {
		max-width: 300px;
	}
}