.icon {
	fill: $black;
	
	&--social-facebook,
	&--social-youtube {
		height: rem-calc(20);
		width: rem-calc(20);
	}

	&--share-facebook,
	&--share-twitter,
	&--share-google,
	&--share-email {
		height: rem-calc(20);
		width: rem-calc(20);
	}

	&--search {
		height: rem-calc(20);
		width: rem-calc(20);	
	}

	&--logo {
		height: rem-calc(100);
	}

	&--arrow-left,
	&--arrow-right {
		height: rem-calc(20);
		width: rem-calc(20);
	}

	&--badge {
		height: rem-calc(100);
		width: rem-calc(100);

	}
}