.taglist {
	@include reset-list();
	display: flex;
	flex-flow: row wrap;
	font-size: rem-calc(11);

	&__item {
		margin-right: 10px;
		margin-bottom: 10px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__href {
		display: inline-block;
		padding: 1px 8px;
		background-color: $black;
		color: $white;
		transition: all 0.2s;
		border: 1px solid $black;
		border-radius: 15px;

		&:hover {
			background-color: $white;
			border-color: $white;
			color: $black;
			transition: all 0.2s;
		}
	}
}