<article class="entry">
	<header class="entry__header">
		<h2 class="entry__title"><a href="novinka.html">{{ article_title }}</a></h2>
		<div class="entry__meta">25. apríl 2016</div>
	</header>
	<div class="entry__content">
		<p>Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing elit</a>. Vitae facilis saepe voluptate, nostrum dolorem. Fugiat nisi hic, numquam. Ut, necessitatibus omnis? Ratione fuga debitis natus qui. Placeat eos voluptas est.</p>
	</div>
	{% include '_sharing.twig' %}
</article>