<article>
	<header class="entry-header">
		<h2 class="entry-title">{{ article_title }}</h2>
		<div class="entry-meta">25. apríl 2016</div>
	</header>
	<div class="entry-content">
		<p>Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing elit</a>. Vitae facilis saepe voluptate, nostrum dolorem. Fugiat nisi hic, numquam. Ut, necessitatibus omnis? Ratione fuga debitis natus qui. Placeat eos voluptas est.</p>
	</div>
	{% include '_sharing.twig' %}
</article>