		</div> <!-- .site -->
		
		<footer class="footer">
			<div class="footer__inner">
				<p><a href="http://punkt.sk">PUNKT</a> | Pecha Kucha Nights &copy; 2008 — 2016</p>
				{% include '_social.twig' %}
			</div>
		</footer>

        <script src="dist/js/main.js"></script>
        <script src="dist/js/svg4everybody.min.js"></script>
    </body>
</html>
