<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ block('title') }} | </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        {# <link rel="stylesheet" href="css/normalize.css"> #}
        <link rel="stylesheet" href="dist/css/main.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="pecha-branding">
            <ul class="citymenu">
                <li class="citymenu__item"><a href="" class="citymenu__href">Bratislava</a></li>
                <li class="citymenu__item"><a href="" class="citymenu__href">Nitra</a></li>
                <li class="citymenu__item"><a href="" class="citymenu__href">Poprad</a></li>
                <li class="citymenu__item"><a href="" class="citymenu__href">Prešov</a></li>
                <li class="citymenu__item"><a href="" class="citymenu__href">Trnava</a></li>
                <li class="citymenu__item"><a href="" class="citymenu__href">Žilina</a></li>
            </ul>
            <svg class="icon icon--logo-short pecha-branding__logo">
                <use xlink:href="dist/svg/svg.svg#logo-short" />
            </svg>
        </div>

        <div id="page" class="site">
            
        