<div class="u-pkn-layout-wrapper u-pkn-layout-wrapper--dark">
	<div class="pkn-layout pkn-layout--videogallery">
		<div class="pkn-layout__sidebar pkn-layout__sidebar--gallery">
			<h3 class="pkn-layout__title">Foto</h3>
			<div id="gallery-8" class="gallery galleryid-112504 gallery-columns-3 gallery-size-thumbnail">
				<figure class="gallery-item">
					<div class="gallery-icon landscape">
						<a rel="lightbox" href="http://techbox.dennikn.sk/wp-content/uploads/2016/02/Samsung-Galaxy-S7-a-edge-gal-28.jpg"><img width="302" height="170" src="http://techbox.dennikn.sk/wp-content/uploads/2016/02/Samsung-Galaxy-S7-a-edge-gal-28-302x170.jpg" class="attachment-thumbnail size-thumbnail" alt="Samsung Galaxy S7 a edge gal 28" srcset="http://techbox.dennikn.sk/wp-content/uploads/2016/02/Samsung-Galaxy-S7-a-edge-gal-28-302x170.jpg 302w, http://techbox.dennikn.sk/wp-content/uploads/2016/02/Samsung-Galaxy-S7-a-edge-gal-28-310x174.jpg 310w, http://techbox.dennikn.sk/wp-content/uploads/2016/02/Samsung-Galaxy-S7-a-edge-gal-28-900x506.jpg 900w, http://techbox.dennikn.sk/wp-content/uploads/2016/02/Samsung-Galaxy-S7-a-edge-gal-28-988x553.jpg 988w, http://techbox.dennikn.sk/wp-content/uploads/2016/02/Samsung-Galaxy-S7-a-edge-gal-28-529x297.jpg 529w, http://techbox.dennikn.sk/wp-content/uploads/2016/02/Samsung-Galaxy-S7-a-edge-gal-28.jpg 1328w, http://techbox.dennikn.sk/wp-content/uploads/2016/02/Samsung-Galaxy-S7-a-edge-gal-28-144x81.jpg 144w" sizes="(max-width: 302px) 100vw, 302px"></a>
					</div>
				</figure>
				<figure class="gallery-item">
					<div class="gallery-icon landscape">
						<a rel="lightbox" href="http://techbox.dennikn.sk/wp-content/uploads/2016/02/Samsung-Galaxy-S7-a-edge-gal-31.jpg"><img width="302" height="170" src="http://techbox.dennikn.sk/wp-content/uploads/2016/02/Samsung-Galaxy-S7-a-edge-gal-31-302x170.jpg" class="attachment-thumbnail size-thumbnail" alt="Samsung Galaxy S7 a edge gal 31" srcset="http://techbox.dennikn.sk/wp-content/uploads/2016/02/Samsung-Galaxy-S7-a-edge-gal-31-302x170.jpg 302w, http://techbox.dennikn.sk/wp-content/uploads/2016/02/Samsung-Galaxy-S7-a-edge-gal-31-310x174.jpg 310w, http://techbox.dennikn.sk/wp-content/uploads/2016/02/Samsung-Galaxy-S7-a-edge-gal-31-900x506.jpg 900w, http://techbox.dennikn.sk/wp-content/uploads/2016/02/Samsung-Galaxy-S7-a-edge-gal-31-988x553.jpg 988w, http://techbox.dennikn.sk/wp-content/uploads/2016/02/Samsung-Galaxy-S7-a-edge-gal-31-529x297.jpg 529w, http://techbox.dennikn.sk/wp-content/uploads/2016/02/Samsung-Galaxy-S7-a-edge-gal-31.jpg 1328w, http://techbox.dennikn.sk/wp-content/uploads/2016/02/Samsung-Galaxy-S7-a-edge-gal-31-144x81.jpg 144w" sizes="(max-width: 302px) 100vw, 302px"></a>
					</div>
				</figure>
				<figure class="gallery-item">
					<div class="gallery-icon landscape">
						<a rel="lightbox" href="http://techbox.dennikn.sk/wp-content/uploads/2016/02/Samsung-Galaxy-S7-a-edge-gal-32.jpg"><img width="302" height="170" src="http://techbox.dennikn.sk/wp-content/uploads/2016/02/Samsung-Galaxy-S7-a-edge-gal-32-302x170.jpg" class="attachment-thumbnail size-thumbnail" alt="Samsung Galaxy S7 a edge gal 32" srcset="http://techbox.dennikn.sk/wp-content/uploads/2016/02/Samsung-Galaxy-S7-a-edge-gal-32-302x170.jpg 302w, http://techbox.dennikn.sk/wp-content/uploads/2016/02/Samsung-Galaxy-S7-a-edge-gal-32-310x174.jpg 310w, http://techbox.dennikn.sk/wp-content/uploads/2016/02/Samsung-Galaxy-S7-a-edge-gal-32-900x506.jpg 900w, http://techbox.dennikn.sk/wp-content/uploads/2016/02/Samsung-Galaxy-S7-a-edge-gal-32-988x553.jpg 988w, http://techbox.dennikn.sk/wp-content/uploads/2016/02/Samsung-Galaxy-S7-a-edge-gal-32-529x297.jpg 529w, http://techbox.dennikn.sk/wp-content/uploads/2016/02/Samsung-Galaxy-S7-a-edge-gal-32.jpg 1328w, http://techbox.dennikn.sk/wp-content/uploads/2016/02/Samsung-Galaxy-S7-a-edge-gal-32-144x81.jpg 144w" sizes="(max-width: 302px) 100vw, 302px"></a>
						</div></figure>
				<figure class="gallery-item">
					<div class="gallery-icon landscape">
						<a rel="lightbox" href="http://techbox.dennikn.sk/wp-content/uploads/2016/02/Samsung-Galaxy-S7-a-edge-gal-33.jpg"><img width="302" height="170" src="http://techbox.dennikn.sk/wp-content/uploads/2016/02/Samsung-Galaxy-S7-a-edge-gal-33-302x170.jpg" class="attachment-thumbnail size-thumbnail" alt="Samsung Galaxy S7 a edge gal 33" srcset="http://techbox.dennikn.sk/wp-content/uploads/2016/02/Samsung-Galaxy-S7-a-edge-gal-33-302x170.jpg 302w, http://techbox.dennikn.sk/wp-content/uploads/2016/02/Samsung-Galaxy-S7-a-edge-gal-33-310x174.jpg 310w, http://techbox.dennikn.sk/wp-content/uploads/2016/02/Samsung-Galaxy-S7-a-edge-gal-33-900x506.jpg 900w, http://techbox.dennikn.sk/wp-content/uploads/2016/02/Samsung-Galaxy-S7-a-edge-gal-33-988x553.jpg 988w, http://techbox.dennikn.sk/wp-content/uploads/2016/02/Samsung-Galaxy-S7-a-edge-gal-33-529x297.jpg 529w, http://techbox.dennikn.sk/wp-content/uploads/2016/02/Samsung-Galaxy-S7-a-edge-gal-33.jpg 1328w, http://techbox.dennikn.sk/wp-content/uploads/2016/02/Samsung-Galaxy-S7-a-edge-gal-33-144x81.jpg 144w" sizes="(max-width: 302px) 100vw, 302px"></a>
					</div>
				</figure>
				<p class="gallery-remaining">+ 76</p>
			</div>
		</div>
		<div class="pkn-layout__main">
			<h3 class="pkn-layout__title">video</h3>
			<div class="u-flex-video">
				<iframe src="https://player.vimeo.com/video/177720787?color=ffed00" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>