                <ul class="social">
                    <li class="social__item">
                        <a href="" class="social__href">
                            <svg class="icon icon--social-facebook">
                                <use xlink:href="dist/svg/svg.svg#social-facebook" />
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="" class="social__href">
                            <svg class="icon icon--social-facebook">
                                <use xlink:href="dist/svg/svg.svg#social-youtube" />
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="" class="social__href">Newsletter</a>
                    </li>
                </ul>