{% extends "_layout.common.twig" %}

{% set title = 'Archiv' %}
{% set hero_display = 'none' %}

{% block page %}

<div class="items-grid">
	<a href="detail.html" class="items-grid__item">
		<img src="images/tmp/poster-29.png" alt="" class="items-grid__img">
		<h2 class="items-grid__title">Vol. 29</h2>
		<h3 class="items-grid__name">Edition Name: Whatever</h3>
		<p class="items-grid__date">31.januar 2016</p>
	</a>
	<a href="detail.html" class="items-grid__item">
		<img src="images/tmp/poster-30.png" alt="" class="items-grid__img">
		<h2 class="items-grid__title">Vol. 29</h2>
		<h3 class="items-grid__name">Edition Name: Whatever</h3>
		<p class="items-grid__date">31.januar 2016</p>
	</a>
	<a href="detail.html" class="items-grid__item">
		<img src="images/tmp/poster-29.png" alt="" class="items-grid__img">
		<h2 class="items-grid__title">Vol. 29</h2>
		<h3 class="items-grid__name">Edition Name: Whatever</h3>
		<p class="items-grid__date">31.januar 2016</p>
	</a>
	<a href="detail.html" class="items-grid__item">
		<img src="images/tmp/poster-30.png" alt="" class="items-grid__img">
		<h2 class="items-grid__title">Vol. 29</h2>
		<h3 class="items-grid__name">Edition Name: Whatever</h3>
		<p class="items-grid__date">31.januar 2016</p>
	</a>
	<a href="detail.html" class="items-grid__item">
		<img src="images/tmp/poster-29.png" alt="" class="items-grid__img">
		<h2 class="items-grid__title">Vol. 29</h2>
		<h3 class="items-grid__name">Edition Name: Whatever</h3>
		<p class="items-grid__date">31.januar 2016</p>
	</a>
	<a href="detail.html" class="items-grid__item">
		<img src="images/tmp/poster-29.png" alt="" class="items-grid__img">
		<h2 class="items-grid__title">Vol. 29</h2>
		<h3 class="items-grid__name">Edition Name: Whatever</h3>
		<p class="items-grid__date">31.januar 2016</p>
	</a>
	<a href="detail.html" class="items-grid__item">
		<img src="images/tmp/poster-29.png" alt="" class="items-grid__img">
		<h2 class="items-grid__title">Vol. 29</h2>
		<h3 class="items-grid__name">Edition Name: Whatever</h3>
		<p class="items-grid__date">31.januar 2016</p>
	</a>
	<a href="detail.html" class="items-grid__item">
		<img src="images/tmp/poster-31.png" alt="" class="items-grid__img">
		<h2 class="items-grid__title">Vol. 29</h2>
		<h3 class="items-grid__name">Edition Name: Whatever</h3>
		<p class="items-grid__date">31.januar 2016</p>
	</a>
	<a href="detail.html" class="items-grid__item">
		<img src="images/tmp/poster-29.png" alt="" class="items-grid__img">
		<h2 class="items-grid__title">Vol. 29</h2>
		<h3 class="items-grid__name">Edition Name: Whatever</h3>
		<p class="items-grid__date">31.januar 2016</p>
	</a>
	<a href="detail.html" class="items-grid__item">
		<img src="images/tmp/poster-29.png" alt="" class="items-grid__img">
		<h2 class="items-grid__title">Vol. 29</h2>
		<h3 class="items-grid__name">Edition Name: Whatever</h3>
		<p class="items-grid__date">31.januar 2016</p>
	</a>


</div>

{% endblock %}
