{% extends "_layout.common.twig" %}

{% set title = 'Archiv' %}
{% set hero_display = 'none' %}

{% block page %}

<div class="items-grid">
	<a href="detail.html" class="items-grid__item item-volume">
		<img src="images/tmp/poster-29.png" alt="" class="item-volume__img">
		<h2 class="item-volume__title">Vol. 29</h2>
		<h3 class="item-volume__name">Edition Name: Whatever</h3>
		<p class="item-volume__meta">31.januar 2016</p>
	</a>
	<a href="detail.html" class="items-grid__item item-volume">
		<img src="images/tmp/poster-30.png" alt="" class="item-volume__img">
		<h2 class="item-volume__title">Vol. 29</h2>
		<h3 class="item-volume__name">Edition Name: Whatever</h3>
		<p class="item-volume__meta">31.januar 2016</p>
	</a>
	<a href="detail.html" class="items-grid__item item-volume">
		<img src="images/tmp/poster-31.png" alt="" class="item-volume__img">
		<h2 class="item-volume__title">Vol. 29</h2>
		<h3 class="item-volume__name">Edition Name: Whatever</h3>
		<p class="item-volume__meta">31.januar 2016</p>
	</a>
	<a href="detail.html" class="items-grid__item item-volume">
		<img src="images/tmp/poster-29.png" alt="" class="item-volume__img">
		<h2 class="item-volume__title">Vol. 29</h2>
		<h3 class="item-volume__name">Edition Name: Whatever</h3>
		<p class="item-volume__meta">31.januar 2016</p>
	</a>
	<a href="detail.html" class="items-grid__item item-volume">
		<img src="images/tmp/poster-30.png" alt="" class="item-volume__img">
		<h2 class="item-volume__title">Vol. 29</h2>
		<h3 class="item-volume__name">Edition Name: Whatever</h3>
		<p class="item-volume__meta">31.januar 2016</p>
	</a>
	<a href="detail.html" class="items-grid__item item-volume">
		<img src="images/tmp/poster-31.png" alt="" class="item-volume__img">
		<h2 class="item-volume__title">Vol. 29</h2>
		<h3 class="item-volume__name">Edition Name: Whatever</h3>
		<p class="item-volume__meta">31.januar 2016</p>
	</a>
	<a href="detail.html" class="items-grid__item item-volume">
		<img src="images/tmp/poster-29.png" alt="" class="item-volume__img">
		<h2 class="item-volume__title">Vol. 29</h2>
		<h3 class="item-volume__name">Edition Name: Whatever</h3>
		<p class="item-volume__meta">31.januar 2016</p>
	</a>
	<a href="detail.html" class="items-grid__item item-volume">
		<img src="images/tmp/poster-31.png" alt="" class="item-volume__img">
		<h2 class="item-volume__title">Vol. 29</h2>
		<h3 class="item-volume__name">Edition Name: Whatever</h3>
		<p class="item-volume__meta">31.januar 2016</p>
	</a>
	<a href="detail.html" class="items-grid__item item-volume">
		<img src="images/tmp/poster-29.png" alt="" class="item-volume__img">
		<h2 class="item-volume__title">Vol. 29</h2>
		<h3 class="item-volume__name">Edition Name: Whatever</h3>
		<p class="item-volume__meta">31.januar 2016</p>
	</a>
	<a href="detail.html" class="items-grid__item item-volume">
		<img src="images/tmp/poster-31.png" alt="" class="item-volume__img">
		<h2 class="item-volume__title">Vol. 29</h2>
		<h3 class="item-volume__name">Edition Name: Whatever</h3>
		<p class="item-volume__meta">31.januar 2016</p>
	</a>
</div>

{% endblock %}
