{% extends "_layout.common.twig" %}

{% set title = 'Detail' %}
{% set hero_display = 'none' %}

{% block page %}

{% include '_detail-nav.twig' %}

<div class="pkn-layout">
	<div class="pkn-layout__sidebar">
		<div class="volume-info">
			<img src="images/tmp/poster-31.png" alt="" class="volume-info__img">
			<h1 class="volume-info__title">PechaKucha Night Bratislava Vol. 99</h1>
			<h2 class="volume-info__subtitle">Edition Name: Title</h2>
			<table class="volume-info__facts facts">
				<tr class="facts__row">
					<td class="facts__label">Dátum</td>
					<td class="facts__text">31. január 2016</td>
				</tr>
				<tr class="facts__row">
					<td class="facts__label">Čas</td>
					<td class="facts__text">20:20</td>
				</tr>
				<tr class="facts__row">
					<td class="facts__label">Miesto</td>
					<td class="facts__text">A4 - priestor súčasnej kultúry <br>Karpatská 2, Bratislava</td>
				</tr>
			</table>
			<div class="volume-info__description">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eveniet fugiat harum quidem quibusdam esse ea suscipit aliquid, provident rerum quasi fugit iure tempora! Officiis blanditiis consequatur assumenda temporibus, harum!</p>
				<p>Voluptates saepe voluptatum vitae distinctio reiciendis qui excepturi explicabo pariatur.</p>
			</div>
		</div>
	</div>
	<div class="pkn-layout__main">
		<div class="items-grid items-grid--speakers">
			<a href="speaker.html" class="items-grid__item item-person">
				<img src="images/tmp/portrait-samco_brat_dazdoviek.jpg" alt="" class="item-person__img">
				<h2 class="item-person__title">Meno Priezvisko</h2>
				<p class="item-person__meta">XY</p>
			</a>
			<a href="speaker.html" class="items-grid__item item-person">
				<img src="images/tmp/portrait-nina_soskova.jpg" alt="" class="item-person__img">
				<h2 class="item-person__title">Meno Priezvisko</h2>
				<p class="item-person__meta">XY</p>
			</a>
			<a href="speaker.html" class="items-grid__item item-person">
				<img src="images/tmp/portrait-ivan_ostrochovsky.jpg" alt="" class="item-person__img">
				<h2 class="item-person__title">Meno Priezvisko</h2>
				<p class="item-person__meta">XY</p>
			</a>
			<a href="speaker.html" class="items-grid__item item-person">
				<img src="images/tmp/portrait-samco_brat_dazdoviek.jpg" alt="" class="item-person__img">
				<h2 class="item-person__title">Meno Priezvisko</h2>
				<p class="item-person__meta">XY</p>
			</a>
			<a href="speaker.html" class="items-grid__item item-person">
				<img src="images/tmp/portrait-nina_soskova.jpg" alt="" class="item-person__img">
				<h2 class="item-person__title">Meno Priezvisko</h2>
				<p class="item-person__meta">XY</p>
			</a>
			<a href="speaker.html" class="items-grid__item item-person">
				<img src="images/tmp/portrait-ivan_ostrochovsky.jpg" alt="" class="item-person__img">
				<h2 class="item-person__title">Meno Priezvisko</h2>
				<p class="item-person__meta">XY</p>
			</a>
			<a href="speaker.html" class="items-grid__item item-person">
				<img src="images/tmp/portrait-samco_brat_dazdoviek.jpg" alt="" class="item-person__img">
				<h2 class="item-person__title">Meno Priezvisko</h2>
				<p class="item-person__meta">XY</p>
			</a>
			<a href="speaker.html" class="items-grid__item item-person">
				<img src="images/tmp/portrait-nina_soskova.jpg" alt="" class="item-person__img">
				<h2 class="item-person__title">Meno Priezvisko</h2>
				<p class="item-person__meta">XY</p>
			</a>
			<a href="speaker.html" class="items-grid__item item-person">
				<img src="images/tmp/portrait-ivan_ostrochovsky.jpg" alt="" class="item-person__img">
				<h2 class="item-person__title">Meno Priezvisko</h2>
				<p class="item-person__meta">XY</p>
			</a>
			<a href="speaker.html" class="items-grid__item item-person">
				<img src="images/tmp/portrait-samco_brat_dazdoviek.jpg" alt="" class="item-person__img">
				<h2 class="item-person__title">Meno Priezvisko</h2>
				<p class="item-person__meta">XY</p>
			</a>
		</div>
	</div>
</div>

</div> <!-- .site -->

{% include '_photogallery.twig' %}

<div class="site">

{% endblock %}
