{% extends "_layout.common.twig" %}

{% set title = 'Home' %}
{% set hero_display = 'block' %}

{% block page %}

<div class="news-archive news-archive--home">
	<div class="news-archive__main">
		{% include '_article.twig' with {'article_title' : 'PechaKucha slávi jubileum'} %}
	</div>
</div>

{% endblock %}
