{% extends "_layout.common.twig" %}

{% set title = 'Home' %}
{% set hero_display = 'block' %}

{% block page %}

<div class="home-slider js-home-slider">
	<div class="home-slider__item"><a href="detail.html" class="home-slider__href"><img src="images/tmp/poster-30.png" alt="Poster PKN" class="home-slider__img"></a></div>
	<div class="home-slider__item"><a href="detail.html" class="home-slider__href"><img src="images/tmp/poster-29.png" alt="Poster PKN" class="home-slider__img"></a></div>
	<div class="home-slider__item"><a href="detail.html" class="home-slider__href"><img src="images/tmp/poster-31.png" alt="Poster PKN" class="home-slider__img"></a></div>
	<div class="home-slider__item"><a href="detail.html" class="home-slider__href"><img src="images/tmp/poster-30.png" alt="Poster PKN" class="home-slider__img"></a></div>
	<div class="home-slider__item"><a href="archiv.html" class="home-slider__href"><img src="images/tmp/plagat-doarchivu.jpg" alt="Poster PKN" class="home-slider__img"></a></div>
</div>

<div class="news-archive news-archive--home">
	<div class="news-archive__main">
		{% include '_article.twig' with {'article_title' : 'PechaKucha slávi jubileum'} %}
	</div>
</div>

{% endblock %}
