{% extends "_layout.common.twig" %}

{% set title = 'Kontakt' %}
{% set hero_display = 'none' %}

{% block page %}

	<div class="contact-people contact-people--main">
		<div class="contact-people__inner">
			<div class="items-grid items-grid--contact">
				<div class="items-grid__item item-person item-person--contact">
					<img src="images/tmp/portrait-samco_brat_dazdoviek.jpg" alt="" class="item-person__img">
					<h2 class="item-person__title">Meno Priezvisko</h2>
					<p class="item-person__meta">funkcia</p>
					<p class="item-person__contact">
						<a href="mailto:email@pechakucha.sk">email@pechakucha.sk</a> <br>
						<a href="tel:00421-908-123-456">+421 908 123 456</a>
					</p>
				</div>
				<div class="items-grid__item item-person item-person--contact">
					<img src="images/tmp/portrait-samco_brat_dazdoviek.jpg" alt="" class="item-person__img">
					<h2 class="item-person__title">Meno Priezvisko</h2>
					<p class="item-person__meta">funkcia</p>
					<p class="item-person__contact">
						<a href="mailto:email@pechakucha.sk">email@pechakucha.sk</a> <br>
						<a href="tel:00421-908-123-456">+421 908 123 456</a>
					</p>
				</div>
				<div class="items-grid__item item-person item-person--contact">
					<img src="images/tmp/portrait-samco_brat_dazdoviek.jpg" alt="" class="item-person__img">
					<h2 class="item-person__title">Meno Priezvisko</h2>
					<p class="item-person__meta">funkcia</p>
					<p class="item-person__contact">
						<a href="mailto:email@pechakucha.sk">email@pechakucha.sk</a> <br>
						<a href="tel:00421-908-123-456">+421 908 123 456</a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="contact-people">
		<div class="items-grid items-grid--contact">
			<div class="items-grid__item item-person item-person--contact">
				<h2 class="item-person__title">Meno Priezvisko</h2>
				<p class="item-person__meta">funkcia</p>
				<p class="item-person__contact">
					<a href="mailto:email@pechakucha.sk">email@pechakucha.sk</a> <br>
					<a href="tel:00421-908-123-456">+421 908 123 456</a>
				</p>
			</div>
			<div class="items-grid__item item-person item-person--contact">
				<h2 class="item-person__title">Meno Priezvisko</h2>
				<p class="item-person__meta">funkcia</p>
				<p class="item-person__contact">
					<a href="mailto:email@pechakucha.sk">email@pechakucha.sk</a> <br>
					<a href="tel:00421-908-123-456">+421 908 123 456</a>
				</p>
			</div>
			<div class="items-grid__item item-person item-person--contact">
				<h2 class="item-person__title">Meno Priezvisko</h2>
				<p class="item-person__meta">funkcia</p>
				<p class="item-person__contact">
					<a href="mailto:email@pechakucha.sk">email@pechakucha.sk</a> <br>
					<a href="tel:00421-908-123-456">+421 908 123 456</a>
				</p>
			</div>
		</div>
	</div>


{% endblock %}
