{% extends "_layout.common.twig" %}

{% set title = 'Novinky' %}
{% set hero_display = 'none' %}

{% block page %}

	<div class="news-archive">
		<div class="news-archive__list">
			<ul class="newslist">
				<li class="newslist__item">
					<a href="novinka.html" class="newslist__href">
						<h4 class="newslist__posttitle">PechaKucha slavi jubileum</h4>
						<time class="newslist__postdate">25. apríl 2016</time>
					</a>
				</li>
				<li class="newslist__item">
					<a href="novinka.html" class="newslist__href">
						<h4 class="newslist__posttitle">Nejaky iny headline co ma kludne aj dva riadky</h4>
						<time class="newslist__postdate">25. apríl 2016</time>
					</a>
				</li>
				<li class="newslist__item">
					<a href="novinka.html" class="newslist__href">
						<h4 class="newslist__posttitle">Lebo dizajnovat jednoriadkove nadpisy je lahke</h4>
						<time class="newslist__postdate">25. apríl 2016</time>
					</a>
				</li>
				<li class="newslist__item">
					<a href="novinka.html" class="newslist__href">
						<h4 class="newslist__posttitle">PechaKucha slavi jubileum</h4>
						<time class="newslist__postdate">25. apríl 2016</time>
					</a>
				</li>
			</ul>
		</div>
		<div class="news-archive__main">
			{% include '_article.twig' with {'article_title' : 'PechaKucha slávi jubileum'} %}
			{% include '_article.twig' with {'article_title' : 'PechaKucha slávi jubileum'} %}
			{% include '_article.twig' with {'article_title' : 'PechaKucha slávi jubileum'} %}
		</div>
	</div>


{% endblock %}
