{% extends "_layout.common.twig" %}

{% set title = 'Novinky' %}
{% set hero_display = 'none' %}

{% block page %}

	<div class="news-archive">
		<div class="news-archive__list">
			zoznam clankov			
		</div>
		<div class="news-archive__main">
			{% include '_article.twig' with {'article_title' : 'PechaKucha slávi jubileum'} %}
			{% include '_article.twig' with {'article_title' : 'PechaKucha slávi jubileum'} %}
			{% include '_article.twig' with {'article_title' : 'PechaKucha slávi jubileum'} %}
		</div>
	</div>


{% endblock %}
