{% extends "_layout.common.twig" %}

{% set title = 'Partneri' %}
{% set hero_display = 'none' %}

{% block page %}

	<main class="partners">
		<h2>Organizátori</h2>
		<ul class="logo-grid">
			<li class="logo-grid__item"><a href="#" class="logo-grid__href"><img src="images/tmp/logos/punkt.png" alt="" class="logo-grid__logo"></a></li>
			<li class="logo-grid__item"><a href="#" class="logo-grid__href"><img src="images/tmp/logos/klein_dytham.png" alt="" class="logo-grid__logo"></a></li>
			<li class="logo-grid__item"><img src="images/tmp/logos/sng.png" alt="" class="logo-grid__logo"></li>
		</ul>
		<h2>Projekt podporili</h2>
		<ul class="logo-grid">
			<li class="logo-grid__item"><img src="images/tmp/logos/designby.png" alt=""></li>
			<li class="logo-grid__item"><a href="#" class="logo-grid__href"><img src="images/tmp/logos/sng.png" alt="" class="logo-grid__logo"></a></li>
			<li class="logo-grid__item"><a href="#" class="logo-grid__href"><img src="images/tmp/logos/shiz.png" alt="" class="logo-grid__logo"></a></li>
			<li class="logo-grid__item"><img src="images/tmp/logos/designby.png" alt=""></li>
			<li class="logo-grid__item"><a href="#" class="logo-grid__href"><img src="images/tmp/logos/shiz.png" alt="" class="logo-grid__logo"></a></li>
			<li class="logo-grid__item"><img src="images/tmp/logos/designby.png" alt="" class="logo-grid__logo"></li>
		</ul>
		<h2>Mediálni partneri</h2>
		<ul class="logo-grid">
			<li class="logo-grid__item"><a href="#" class="logo-grid__href"><img src="images/tmp/logos/sng.png" alt="" class="logo-grid__logo"></a></li>
			<li class="logo-grid__item"><a href="#" class="logo-grid__href"><img src="images/tmp/logos/shiz.png" alt="" class="logo-grid__logo"></a></li>
			<li class="logo-grid__item"><img src="images/tmp/logos/designby.png" alt=""></li>
			<li class="logo-grid__item"><a href="#" class="logo-grid__href"><img src="images/tmp/logos/sng.png" alt="" class="logo-grid__logo"></a></li>
			<li class="logo-grid__item"><a href="#" class="logo-grid__href"><img src="images/tmp/logos/shiz.png" alt="" class="logo-grid__logo"></a></li>
			<li class="logo-grid__item"><img src="images/tmp/logos/designby.png" alt=""></li>
			<li class="logo-grid__item"><a href="#" class="logo-grid__href"><img src="images/tmp/logos/sng.png" alt="" class="logo-grid__logo"></a></li>
			<li class="logo-grid__item"><a href="#" class="logo-grid__href"><img src="images/tmp/logos/shiz.png" alt="" class="logo-grid__logo"></a></li>
			<li class="logo-grid__item"><img src="images/tmp/logos/designby.png" alt="" class="logo-grid__logo"></li>
		</ul>
	</main>



{% endblock %}
