{% extends "_layout.common.twig" %}

{% set title = 'Speaker' %}
{% set hero_display = 'none' %}

{% block page %}

{% include '_detail-nav.twig' %}

<div class="speaker-detail">
	<div class="speaker-detail__profilepic">
		<a href="" class="speaker-detail__navigation speaker-detail__prev">
			<svg class="icon icon--arrow-left">
			    <use xlink:href="dist/svg/svg.svg#arrow-left" />
			</svg>			
		</a>
		<div class="item-person">
			<img src="images/tmp/portrait-samco_brat_dazdoviek.jpg" alt="" class="item-person__img">
			<h2 class="item-person__title">Meno Priezvisko</h2>
			<p class="item-person__meta">XY</p>
		</div>
		<a href="" class="speaker-detail__navigation speaker-detail__next">
			<svg class="icon icon--arrow-right">
			    <use xlink:href="dist/svg/svg.svg#arrow-right" />
			</svg>
		</a>
	</div>
	<div class="speaker-detail__desc">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, tenetur placeat nulla tempora sunt tempore accusantium porro laboriosam doloremque consequuntur facere aspernatur vero magni vel possimus nemo quis omnis ad!</p>
	</div>
	<div class="speaker-detail__details">
		<table class="facts">
			<tr class="facts__row">
				<td class="facts__label">Web</td>
				<td class="facts__text"><a href="http://fishisflying.blogspot.sk/">fishisflying.blogspot.sk</a></td>
			</tr>
			<tr class="facts__row">
				<td class="facts__label">Tagy</td>
				<td class="facts__text">
					<ul class="taglist">
						<li class="taglist__item"><a href="#" class="taglist__href">aktivizmus</a></li>
						<li class="taglist__item"><a href="#" class="taglist__href">ilustrácia</a></li>
						<li class="taglist__item"><a href="#" class="taglist__href">maľba</a></li>
					</ul>
				</td>
			</tr>
		</table>		
	</div>
</div>
</div><!-- /.site -->

{% include '_photogallery.twig' %}

<div class="site">
	<div class="other-speakers">
		<h3 class="other-speakers__title">Mohli by vás zaujímať</h3>
		<div class="other-speakers__list js-other-speakers">
			<div class="other-speakers__item item-person">
				<img src="images/tmp/portrait-samco_brat_dazdoviek.jpg" alt="" class="item-person__img">
				<h2 class="item-person__title">Meno Priezvisko</h2>
				<p class="item-person__meta">XY</p>			
			</div>
			<div class="other-speakers__item item-person">
				<img src="images/tmp/portrait-samco_brat_dazdoviek.jpg" alt="" class="item-person__img">
				<h2 class="item-person__title">Meno Priezvisko</h2>
				<p class="item-person__meta">XY</p>			
			</div>
			<div class="other-speakers__item item-person">
				<img src="images/tmp/portrait-samco_brat_dazdoviek.jpg" alt="" class="item-person__img">
				<h2 class="item-person__title">Meno Priezvisko</h2>
				<p class="item-person__meta">XY</p>			
			</div>
			<div class="other-speakers__item item-person">
				<img src="images/tmp/portrait-samco_brat_dazdoviek.jpg" alt="" class="item-person__img">
				<h2 class="item-person__title">Meno Priezvisko</h2>
				<p class="item-person__meta">XY</p>			
			</div>
			<div class="other-speakers__item item-person">
				<img src="images/tmp/portrait-samco_brat_dazdoviek.jpg" alt="" class="item-person__img">
				<h2 class="item-person__title">Meno Priezvisko</h2>
				<p class="item-person__meta">XY</p>			
			</div>
			<div class="other-speakers__item item-person">
				<img src="images/tmp/portrait-samco_brat_dazdoviek.jpg" alt="" class="item-person__img">
				<h2 class="item-person__title">Meno Priezvisko</h2>
				<p class="item-person__meta">XY</p>			
			</div>
			<div class="other-speakers__item item-person">
				<img src="images/tmp/portrait-samco_brat_dazdoviek.jpg" alt="" class="item-person__img">
				<h2 class="item-person__title">Meno Priezvisko</h2>
				<p class="item-person__meta">XY</p>			
			</div>
			<div class="other-speakers__item item-person">
				<img src="images/tmp/portrait-samco_brat_dazdoviek.jpg" alt="" class="item-person__img">
				<h2 class="item-person__title">Meno Priezvisko</h2>
				<p class="item-person__meta">XY</p>			
			</div>
			<div class="other-speakers__item item-person">
				<img src="images/tmp/portrait-samco_brat_dazdoviek.jpg" alt="" class="item-person__img">
				<h2 class="item-person__title">Meno Priezvisko</h2>
				<p class="item-person__meta">XY</p>			
			</div>
			<div class="other-speakers__item item-person">
				<img src="images/tmp/portrait-samco_brat_dazdoviek.jpg" alt="" class="item-person__img">
				<h2 class="item-person__title">Meno Priezvisko</h2>
				<p class="item-person__meta">XY</p>			
			</div>
		</div>
	</div>
{% endblock %}
